

body{
	margin:0;
	padding:0;
	width:100%;
	font-family:verdana;
	/**background: linear-gradient(rgba(0,0,150,0.5), rgba(0,0,50,0.5)), url(../images/4.jpg);**/
	/**background: linear-gradient(rgba(0,0,150,0.5), rgba(0,0,50,0.5)), url(../images/4.jpg);*/
	background: url(../images/15.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
	}
html{
	height:100%;
}
/**The menu bar*/
.container1 {
	position:absolute;
	top: 10%;
	left: 50%;
	margin: 0;
	padding: 0;
	transform: translateX(-50%) translateY(-50%);
}
li {
	display: inline-block;
}
li a {
	text-decoration: none;
	display: inline-block;
	color: #fff ;
	font-family: Source Sans Pro;
	font-weight: lighter;
	font-size: 25px;
	padding:0 20px;
}
.cool-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #ff5722;
	transition: width .3s;
}
.cool-link:hover::after{
	width: 100%;
	transition: width .3s;
}


} 

/**The three buttons*/
.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4{
	background-color: #ff5722; 
    color: white; 
    border: 2px solid white;
	position: absolute;
	left: 73.5%;
	top: 5%;
	width: 130px;
	height: 60px;
	border: 1px solid white;
	font-size: 18px;
	border-radius:4px;
}

.button4:hover {
    background-color: #f44336;
    color: white;
}