@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
body{
	margin:0;
	padding:0;
	width:100%;
	font-family:'Arima Madurai', cursive;
}

/**The menu bar*/
.menu-icon{
	position:fixed;
	top: 10px;
	right: 20px;
	width: 50px;
	height: 44px;
	padding: 4px 8px;
	background: #262626;
	box-sizing: border-box;
	cursor:pointer;
}
.menu-icon span{
	width: 100%;
	height:4px;
	display: block;
	background: #fff;
	margin: 6px 0;
	transition: .5s;
}
.sidebar {
	position: fixed;
	z-index: 100;
	top: 0;
	left:-300px;
	width: 300px;
	height:100vh;
	background: #262626;
	transition:.5s;
	padding: 20px;
	text-align:center;
	box-sizing: border-box;
	
	
}
ul{
list-style-type:none;
}
.sidebar.active{
	left: 0;
}
.sidebar .menu{
	margin: 0;
	padding: 40px 0;
}
.sidebar .menu li a{
	display:block;
	padding: 10px 0;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	text-decoration: none;
	
}

.sidebar .menu li a:hover{
	background:#fc2827;
	color:#fff;
}
.menu-icon.active{
	background:#fc2827;
}

.menu-icon.active span {
	position: absolute;
	width:calc(100% -  16px);
	top: calc(50% - 8px);
	
}
.menu-icon.active span:nth-child(1){
	transform:rotate(45deg);
	
}
.menu-icon.active span:nth-child(3){
	transform:rotate(-45deg);
	
}
.menu-icon.active span:nth-child(2){
	display:none;
	
}

/**The main buttons*/
.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
/**The button on the corner left*/
.button1 {
 background-color: #ff5722; 
    color: white; 
	/**position: relative;
	top: 0%;
	left: 40%; */
	position:absolute;
	right:85%;
	top: 5%;
	width: 150px;
	height: 60px;
	border: 1px solid white;
	font-size: 18px;
	border-radius:4px;
}

.button1:hover {
    background-color: #f44336;
    color: white;
}


/***/


.button3{
	background-color: #ff5722; 
    color: white; 
    border: 2px solid white;
	position: absolute;
	left: 73.5%;
	top: 5%;
	width: 130px;
	height: 60px;
	border: 1px solid white;
	font-size: 18px;
	border-radius:4px;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

/**The log out button*/

.button4{
	background-color: #ff5722; 
    color: white; 
    border: 2px solid white;
	position: absolute;
	left: 73.5%;
	top: 5%;
	width: 130px;
	height: 60px;
	border: 1px solid white;
	font-size: 18px;
	border-radius:4px;
}

.button4:hover {
    background-color: #f44336;
    color: white;
}
/**The edit button for the home page*/
.button5{
    
	position:absolute;
	top: 70%;
	align:centre;
	background-color: Transparent ; 
    color: black; 
	height:120px;
	width: 500px;
	border-radius:4px;
	font-family: 'Arima Madurai', cursive;
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	z-index: 3;
	
	
}

.button5:hover {

background-color:Transparent;
}
   
/**Styles for the gallery */

/**The slideshow*/
#i1, #i2, #i3{ display: none;}

.container2{
		margin: 0 auto;
		margin-top: 150px;
		position: relative;
		width: 70%;
		height: 0%;
		padding-bottom: 38%;
		user-select: none;
		background-color: #1c1c1c;
		border: solid 10px #616161;
		border-radius:10px ; 
	}

	.container2 .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.container2 .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
		position: absolute;
		top:0; 
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .1s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .1s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	}

.container2 #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}
/**The navigation menu of the slideshow*/
#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .1s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .1s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


@media screen and (max-width: 685px){
	.container3{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}

/**Styles the contact page*/
 /**Contact form*/
 .contact-title{
	 margin-top:100px;
	 color:white;
	 text-transform: uppercase;
	 transition: bottom all 4s ease-in-out;
 }
 .contact-title h1{
	font-size:32px;
	line-height: 10px;
 }
 form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
	
 }
 
.form-control{
	width:600px;
	background:transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-bottom:16px;
	color: white;
}
input{
	height: 45px;

}
form .submit{
	background: #ff5722;
	border-color: transparent;
	font-size:20px;
	color: white;
	font-weight: bold;
	letter-spacing:2px;
	height: 50px;
	margin-top:20px;
}
form .submit:hover{
	background-color: #f44336;
	cursor:pointer;
}

/**Styles the registration page*/
/**The registration form*/

.registration-title{
	 margin-top:100px;
	 color:white;
	 text-transform: uppercase;
	 transition: bottom all 4s ease-in-out;
 }
 .registration-title h1{
	font-size:32px;
	line-height: 10px;
 }
 form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
	
 }
 
.form-control{
	width:650px;
	background:transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-bottom:16px;
	color: white;
}
input{
	height: 45px;

}
form .submit{
	background: #ff5722;
	border-color: transparent;
	font-size:20px;
	color: white;
	font-weight: bold;
	letter-spacing:2px;
	height: 50px;
	margin-top:20px;
}
form .submit:hover{
	background-color: #f44336;
	cursor:pointer;
}

/**Styles the login form */
.registration-title{
	 margin-top:100px;
	 color:white;
	 text-transform: uppercase;
	 transition: bottom all 4s ease-in-out;
 }
 .registration-title h1{
	font-size:32px;
	line-height: 10px;
 }
 form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
	
 }
 
.form-control{
	width:650px;
	background:transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-bottom:16px;
	color: white;
}
input{
	height: 45px;

}
form .submit{
	background: #ff5722;
	border-color: transparent;
	font-size:20px;
	color: white;
	font-weight: bold;
	letter-spacing:2px;
	height: 50px;
	margin-top:20px;
}
form .submit:hover{
	background-color: #f44336;
	cursor:pointer;
}



/**Styles the editor*/

/**h1 {

    font-size: 10px;
    margin: 10px;
}
p {
    font-size: 14px;
}*/
/*style the class*/
.editor {
	background:#D3D3D3;
	position:absolute;
	top: 15%;
    width:95%;
    height: auto;
}

.tools {
    float: left;
    width: 30%;
    text-align: left;
	position:absolute;
	left:10%;

}
.img {
    width: 65%;
    padding-left: 10px;
    height: auto;
	position:absolute;
	left:40%;
	
}
/**styles the editor's buttons so on hover they turn blue*/

button:hover {
    background-color: blue;
	color: white;
}
 /*style the input button*/  
input[type="file"] {
   color: white;
    background-color: #f44336;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}