@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
body{
	margin:0;
	padding:0;
	width:100%;
	font-family:'Arima Madurai', cursive;
}

/**The menu bar*/
.menu-icon{
	position:fixed;
	top: 10px;
	right: 20px;
	width: 50px;
	height: 44px;
	padding: 4px 8px;
	background: #262626;
	box-sizing: border-box;
	cursor:pointer;
}
.menu-icon span{
	width: 100%;
	height:4px;
	display: block;
	background: #fff;
	margin: 6px 0;
	transition: .5s;
}
.sidebar {
	position: fixed;
	z-index: 100;
	top: 0;
	left:-300px;
	width: 300px;
	height:100vh;
	background: #262626;
	transition:.5s;
	padding: 20px;
	text-align:center;
	box-sizing: border-box;
	
	
}
ul{
list-style-type:none;
}
.sidebar.active{
	left: 0;
}
.sidebar .menu{
	margin: 0;
	padding: 40px 0;
}
.sidebar .menu li a{
	display:block;
	padding: 10px 0;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	text-decoration: none;
	
}

.sidebar .menu li a:hover{
	background:#fc2827;
	color:#fff;
}
.menu-icon.active{
	background:#fc2827;
}

.menu-icon.active span {
	position: absolute;
	width:calc(100% -  16px);
	top: calc(50% - 8px);
	
}
.menu-icon.active span:nth-child(1){
	transform:rotate(45deg);
	
}
.menu-icon.active span:nth-child(3){
	transform:rotate(-45deg);
	
}
.menu-icon.active span:nth-child(2){
	display:none;
	
}

/**The main buttons*/
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
/**The button on the corner left*/
.button1 {
	position:absolute;
	right:75%;
	top: -3%;
	background-color: Transparent; 
    color: white; 
	width: auto;
	height:auto;
	border-radius:4px;
	font-family: 'Arima Madurai', cursive; 
	font-size: 3rem;
	font-weight: bold; 
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	z-index: 3;
}

.button1:hover {
    background-color: Transparent;
	border:Transparent;
    color: #ff5722;
}


/***/


.button3{
	background-color: #ff5722; 
    color: white; 
    border: 2px solid white;
	position: absolute;
	left: 73.5%;
	top: 5%;
	width: 130px;
	height: 60px;
	border: 1px solid white;
	font-size: 18px;
	border-radius:4px;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

/**The log out button*/

.button4{
	background-color: #ff5722; 
    color: white; 
    border: 2px solid white;
	position: absolute;
	left: 73.5%;
	top: 5%;
	width: 130px;
	height: 60px;
	border: 1px solid white;
	font-size: 18px;
	border-radius:4px;
}

.button4:hover {
    background-color: #f44336;
    color: white;
}
/**The edit button for the home page*/
.button5{
    
	position:absolute;
	top: 70%;
	align:centre;
	background-color: Transparent ; 
    color: black; 
	height:120px;
	width: 500px;
	border-radius:4px;
	font-family: 'Arima Madurai', cursive;
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	z-index: 3;
	
	
}

.button5:hover {

background-color:Transparent;
}
   



