html, body{
 margin: 0;
	padding:0;
	text-align:center;
	background:  url(../images/4.jpg);
	background-size: cover;
	background-position: center;
	font-family:sans-serif;
	font-color: white;
  
} 

/**Styles the login form */
.registration-title{
	 margin-top:100px;
	 color:white;
	 text-transform: uppercase;
	 transition: bottom all 4s ease-in-out;
 }
 .registration-title h1{
	font-size:32px;
	line-height: 10px;
 }
 form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
	
 }
 
.form-control{
	width:650px;
	background:transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-bottom:16px;
	color: white;
}
input{
	height: 45px;

}
form .submit{
	background: #ff5722;
	border-color: transparent;
	font-size:20px;
	color: white;
	font-weight: bold;
	letter-spacing:2px;
	height: 50px;
	margin-top:20px;
}
form .submit:hover{
	background-color: #f44336;
	cursor:pointer;
}

