html, body{
background:url('../images/16.jpg')no-repeat center center fixed;
color: white;
font-family: sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin: 10px;
}

p {
    font-size: 14px;
}
/*style the class*/
.editor {
	background:#D3D3D3;
	position:absolute;
	top: 15%;
    width:95%;
    height: auto;
}

.tools {
    float: left;
    width: 30%;
    text-align: left;
	position:absolute;
	left:10%;

}

.img {
    width: 65%;
    padding-left: 10px;
    height: auto;
	position:absolute;
	left:40%;
	
}

/*
.img {
   width: 100%;
   height: 100%;
   position: relative;
}

#imgContainer {
    width: 60%;
    padding-left: 10px;
    height: 50%;
	position:absolute;
	left:40%;
   border:2px;
	
}
*/

/*style the button*/
button {
    color: white;
    background-color: #f44336 ;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
 /*style the input button*/   
}
button:hover {
    background-color: blue;
	color: white;
}
input[type="file"] {
   color: white;
    background-color: #f44336;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
font-size:500px;
}

.social{
position:right;

}
/**Styles the Twitter button*/
.twitter-hashtag-button{
	width: 78%;
	position: right;
}

.fb-share-button{
   font-size: 50px;
   }
   
   