

body{
	margin:0;
	padding:0;
	width:100%;
	font-family:verdana;
	/**background: linear-gradient(rgba(0,0,150,0.5), rgba(0,0,50,0.5)), url(../images/4.jpg);**/
	/**background: linear-gradient(rgba(0,0,150,0.5), rgba(0,0,50,0.5)), url(../images/4.jpg);*/
	background: url(../images/11.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
	}
html{
	height:100%;
}


