html, body{
	margin: 0;
	padding: 0;
	width:100%;
}

body {
    background-image:url("../images/14.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}

.twitter-hashtag-button{
	width: 78%;
}