body{
	background:url(../images/5.jpg) no-repeat center center fixed;
	background-repeat: no-repeat;
    background-size: 100% 100%;
	
}


/**Styles the choose background box*/
#chooseBg{
position: fixed;
top: 10%;
left:30%;
align:centre;
width: 500px;
border: 1px solid;
border-radius:4px;
padding: 10px;
color: #ffffff;
background-color:#ff5722;

}

#chooseBg:hover {
    background-color: #f44336;
    color: black;
