html, body{
background:url('../images/26.jpg')no-repeat center center fixed;
color: white;
font-family: sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin: 10px;
}

p {
    font-size: 14px;
}
/*style the class*/
.editor {
	background:#D3D3D3;
	position:absolute;
	top: 15%;
    width:95%;
    height: auto;
}

.tools {
    float: left;
    width: 30%;
    text-align: left;
	position:absolute;
	left:10%;

}

.img {
    width: 65%;
    padding-left: 10px;
    height: auto;
	position:absolute;
	left:40%;
	
}
/*style the button*/
button {
    color: black;
    background-color: #FFFAF0 ;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 50px;
 /*style the input button*/   
}


button:hover {
    background-color: DarkGray;
	padding-right: 25px;
	color: white;
}


input[type="file"] {
   color: black;
    background-color: #A9A9A9;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 20px;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
font-size:500px;
}

.social{
position:right;

}
/**Styles the Twitter button*/
.twitter-hashtag-button{
	width: 78%;
	position: right;
}

.fb-share-button{
   font-size: 50px;
   }
   
 /**Styles the editor*/


.editor {
	background:#D3D3D3;
	position:absolute;
	top: 15%;
    width:95%;
    height: auto;
}

.tools {
    float: left;
    width: 30%;
    text-align: left;
	position:absolute;
	left:10%;

}
.img {
    width: 65%;
    padding-left: 10px;
    height: auto;
	position:absolute;
	left:40%;
	
}
/**styles the editor's buttons so on hover they turn blue*/

button:hover {
    background-color: #f44336;
	color: white;
}
 /*style the input button*/  
input[type="file"] {
   color: white;
    background-color: #fffaf0;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
  
