html, body{
background:url('../images/4.jpg')no-repeat center center fixed;
color: white;
font-family: sans-serif;
}
/**The menu bar*/
.container1 {
	position:absolute;
	top: 10%;
	left: 50%;
	margin: 0;
	padding: 0;
	transform: translateX(-50%) translateY(-50%);
}
li {
	display: inline-block;
}
li a {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-family: Source Sans Pro;
	font-weight: lighter;
	font-size: 25px;
	padding:0 20px;
}
.cool-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #ff5722;
	transition: width .3s;
}
.cool-link:hover::after{
	width: 100%;
	transition: width .3s;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin: 10px;
}

p {
    font-size: 14px;
}
/*style the class*/
.editor {
	background:#D3D3D3;
	position:absolute;
	top: 15%;
    width:95%;
    height: auto;
}

.tools {
    float: left;
    width: 30%;
    text-align: left;
	position:absolute;
	left:10%;
	background-color: grey;
}
.img {
    width: 65%;
    padding-left: 10px;
    height: auto;
	position:absolute;
	left:40%;
}
/*style the button*/
button {
    color: white;
    background-color: #f44336 ;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
 /*style the input button*/   
}
button:hover {
    background-color: blue;
	color: white;
}
input[type="file"] {
   color: white;
    background-color: #f44336;
    font-family: sans-serif;
	padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}